.navBar{
    background-color: black;
    color:white;
    display: flex;
    height: 30px;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

.navItems
{
  width: 25%;
  display: flex;
  justify-content: space-evenly;  
}
.navBar a{
    color:white;
    text-decoration: none;
    cursor: pointer;
}
.navBar a.active
{
color: red;

}